*.stTheme.cache
*.tmTheme.cache
.DS_Store
Thumbs.db
*.pyc

terminal-notifier.*

SideBarEnhancements/Open With/Side Bar.sublime-menu

Terminal.sublime-settings

Preferences.sublime-settings

Package Control.sublime-settings

SublimeREPLHistory

favorite_files_list.json

Git.sublime-settings

SortTabsInternal.sublime-settings
