*.stTheme.cache
*.tmTheme.cache
*.tmLanguage.cache
*.cache
.DS_Store
Thumbs.db
*.pyc

SideBarEnhancements/Open With/Side Bar.sublime-menu

Terminal.sublime-settings

Preferences.sublime-settings

Package Control.sublime-settings

SublimeREPLHistory

favorite_files_list.json

Git.sublime-settings

SortTabsInternal.sublime-settings

/Package Control.last-run

CalendarEvents/*

*.log

ColorSchemeEditorTemp/*

ThemeTweaker/*

EasyDiff/*.sublime-menu

TabsExtra/*.sublime-menu

SortTabs/*.sublime-menu

Crypto.sublime-settings

Package Control.ca-bundle

Package Control.ca-list

Package Control.cache/

Package Control.system-ca-bundle

ColorPicker/

subclrschm/
/Side Bar.sublime-settings

Widget - Faceless *.sublime-settings

TabsExtra/*

ASCII Decorator Fonts/*
